body {
  margin: 5% 30% 10% 30%;
  transition: background 2s;
  
}

h1 {
  text-align: center;
  font-family: "Times New Roman", Times, serif;
}

p {
  font-family: "Times New Roman", Times, serif;
  transition: color 2s;
}

button {
  padding: 12px 20px;
  color: white;
  border: none;
  border-radius: 5px;
  transition: background 2s;
}

button:hover {
  box-shadow: 0px 0px 10px 3px #888888;
}

h5 {
  text-align: center;
  font-family: "Brush Script MT", cursive;
  font-size: 24px;
}

a {
  color: white;
}

hr {
  border: 0;
  height: 1px;
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.45), rgba(0, 0, 0, 0));
}

#authorsP {
  font-family: "Lucida Bright", Georgia, serif;
  font-weight: 500;
  font-size: 17px;
}

#quote {
  font-size: 20px;
}

#everything {
  padding: 24px 24px 100px 44px;
  background-color: white;
  position: relative;
  border-radius: 9px;
  box-shadow: 0px 3px 0px 0px #222121, inset -1px -3px 10px 1px #515151;
  width: 500px;
  height: 400px;
  margin: 10% auto;
}

#quoteGen {
  position: absolute;
  bottom: 20px;
  right: 20px;
}

#tweetButton {
  position: absolute;
  bottom: 20px;
  left: 20px;
  font-size: 20px
}